/* Estilos para el contenedor del select */
.guarnicionDeMilaYHambu {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #beebb2;
    color: #000000;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    position: relative;
    cursor: pointer; 
    transition: all 0.3s ease; 
}

/* Estilos para el hover */
.guarnicionDeMilaYHambu:hover {
    border-color: #aaa;
}

/* Estilos para el foco */
.guarnicionDeMilaYHambu:focus {
    border-color: #2a4d30;
    outline: none;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

/* Estilos para la flecha desplegable */
.guarnicionDeMilaYHambu::after {
    content: '\25BC';
    font-size: 12px;
    color: #000000;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none; 
}

/* Estilos para las opciones del select */
.guarnicionDeMilaYHambu option {
    font-size: 16px;
    background-color: #affcae;
    color: #000000;
    padding: 10px;
}

/* Estilos para las opciones al pasar el cursor */
.guarnicionDeMilaYHambu option:hover {
    background-color: #f0f0f0;
}
